<li id="doubt-<%=doubt.id%>"> 
    

    <%=doubt.user%><br>
    <%= doubt.description%><br>
    <form action="/doubt/accept/<%=doubt.id%>" method="POST" >
        <input type="text" name="user">
        <button type="submit">Accept</button>
    </form>

    
</li>
