<%if(searchedDoubts.length==0){%>
<h1>No Doubts found</h1>
<%}else{%>
<ul>
  <% for(doubt of searchedDoubts) {%>
  <li>
    <h2>Topic-<%=doubt.topic%></h2>

    <h1>Description-<%=doubt.description%></h1>
  </li>
  <form action="/doubt/<%=doubt.id%>" method="GET">
    <button type="submit">show</button>
  </form>
  <%}%>
</ul>

<%}%>

